adal==1.2.7
alembic==1.7.1
amqp==2.6.1
amsterdam-schema-tools==3.0.3
anyio==3.3.1
apache-airflow==2.1.4
apache-airflow-providers-amazon==2.2.0
apache-airflow-providers-celery==2.0.0
apache-airflow-providers-cncf-kubernetes==2.2.0
apache-airflow-providers-docker==2.1.1
apache-airflow-providers-elasticsearch==2.0.3
apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-google==5.1.0
apache-airflow-providers-grpc==2.0.1
apache-airflow-providers-hashicorp==2.1.0
apache-airflow-providers-http==2.0.1
apache-airflow-providers-imap==2.0.1
apache-airflow-providers-microsoft-azure==3.1.1
apache-airflow-providers-mysql==2.1.1
apache-airflow-providers-oracle==2.0.1
apache-airflow-providers-postgres==2.2.0
apache-airflow-providers-redis==2.0.1
apache-airflow-providers-sendgrid==2.0.1
apache-airflow-providers-sftp==2.1.1
apache-airflow-providers-slack==4.0.1
apache-airflow-providers-sqlite==2.0.1
apache-airflow-providers-ssh==2.1.1
apispec==3.3.2
argcomplete==1.12.3
attrdict==2.0.1
attrs==20.3.0
azure-batch==11.0.0
azure-common==1.1.27
azure-core==1.18.0
azure-cosmos==3.2.0
azure-datalake-store==0.0.52
azure-identity==1.6.1
azure-keyvault==4.1.0
azure-keyvault-certificates==4.3.0
azure-keyvault-keys==4.4.0
azure-keyvault-secrets==4.3.0
azure-kusto-data==0.0.45
azure-mgmt-containerinstance==1.5.0
azure-mgmt-core==1.3.0
azure-mgmt-datafactory==1.1.0
azure-mgmt-datalake-nspkg==3.0.1
azure-mgmt-datalake-store==0.5.0
azure-mgmt-nspkg==3.0.2
azure-mgmt-resource==20.0.0
azure-nspkg==3.0.2
azure-storage-blob==12.8.1
azure-storage-common==2.1.0
azure-storage-file==2.1.0
Babel==2.9.1
backports.entry-points-selectable==1.1.0
bandit==1.7.0
bcrypt==3.2.0
billiard==3.6.4.0
blinker==1.4
boto3==1.17.112
botocore==1.20.112
cachetools==4.2.2
cattrs==1.5.0
celery==4.4.7
certifi==2020.12.5
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.5
clevercsv==0.1.4
click==7.1.2
clickclick==20.10.2
cloudpickle==1.4.1
colorama==0.4.4
colorlog==4.8.0
commonmark==0.9.1
croniter==1.0.15
cryptography==3.4.8
cx-Oracle==8.2.1
dask==2021.6.0
datapunt-config-loader==1.1.2
datapunt-objectstore==2020.9.7
debtcollector==2.2.0
decorator==5.1.0
deepdiff==5.2.3
defusedxml==0.7.1
Deprecated==1.2.13
dill==0.3.1.1
distlib==0.3.2
distributed==2.19.0
dnspython==1.16.0
docker==5.0.2
docutils==0.16
dsnparse==0.1.15
elasticsearch==7.14.1
elasticsearch-dbapi==0.2.5
elasticsearch-dsl==7.4.0
email-validator==1.1.3
environs==9.3.3
et-xmlfile==1.1.0
eventlet==0.32.0
filelock==3.0.12
flake8==3.9.2
flake8-bandit==2.1.2
flake8-bugbear==21.3.2
flake8-builtins==1.5.3
flake8-colors==0.1.9
flake8-comprehensions==3.4.0
flake8-docstrings==1.6.0
flake8-polyfill==1.0.2
flake8-print==4.0.0
flake8-rst==0.8.0
flake8-string-format==0.3.0
flake8_implicit_str_concat==0.2.0
Flask==1.1.4
Flask-AppBuilder==3.3.3
Flask-Babel==1.0.0
Flask-Bcrypt==0.7.1
Flask-Caching==1.10.1
Flask-JWT-Extended==3.25.1
Flask-Login==0.4.1
Flask-OpenID==1.3.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
flower==0.9.7
fsspec==2021.8.1
GeoAlchemy2==0.7.0
geojson==2.5.0
gevent==21.8.0
gitdb==4.0.7
GitPython==3.1.17
google-ads==14.0.0
google-api-core==1.31.2
google-api-python-client==1.12.8
google-auth==1.35.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-cloud-appengine-logging==0.1.4
google-cloud-audit-log==0.1.1
google-cloud-automl==2.4.2
google-cloud-bigquery==2.26.0
google-cloud-bigquery-datatransfer==3.3.2
google-cloud-bigquery-storage==2.8.0
google-cloud-bigtable==1.7.0
google-cloud-container==1.0.1
google-cloud-core==1.7.2
google-cloud-datacatalog==3.4.1
google-cloud-dataproc==2.5.0
google-cloud-dlp==1.0.0
google-cloud-kms==2.6.0
google-cloud-language==1.3.0
google-cloud-logging==2.6.0
google-cloud-memcache==1.0.0
google-cloud-monitoring==2.5.0
google-cloud-os-login==2.3.1
google-cloud-pubsub==2.8.0
google-cloud-redis==2.2.2
google-cloud-secret-manager==1.0.0
google-cloud-spanner==1.19.1
google-cloud-speech==1.3.2
google-cloud-storage==1.42.1
google-cloud-tasks==2.5.1
google-cloud-texttospeech==1.0.1
google-cloud-translate==1.7.0
google-cloud-videointelligence==1.16.1
google-cloud-vision==1.0.0
google-cloud-workflows==1.2.1
google-crc32c==1.1.2
google-resumable-media==2.0.2
googleapis-common-protos==1.53.0
graphviz==0.17
greenlet==1.1.1
grpc-google-iam-v1==0.12.3
grpcio==1.40.0
grpcio-gcp==0.2.2
gunicorn==20.1.0
h11==0.12.0
HeapDict==1.0.1
httpcore==0.13.7
httplib2==0.19.1
httpx==0.19.0
humanize==3.11.0
hvac==0.11.0
ibm-db==3.1.0
ibm-db-sa==0.3.7
idna==3.2
importlib-resources==1.5.0
inflection==0.5.1
iniconfig==1.1.1
iso8601==0.1.16
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
json-encoder==0.4.4
json-merge-patch==0.2
jsonpath-ng==1.5.3
jsonpath-rw==1.4.0
jsonpointer==2.1
jsonref==0.2
jsonschema==3.2.0
keystoneauth1==4.3.1
kombu==4.6.11
kubernetes==11.0.0
lark-parser==0.11.2
lazy-object-proxy==1.4.3
ldap3==2.9.1
libcst==0.3.20
locket==0.2.1
lockfile==0.12.2
Mako==1.1.5
mappyfile==0.9.1
Markdown==3.3.4
MarkupSafe==1.1.1
marshmallow==3.13.0
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.23.1
mccabe==0.6.1
methodtools==0.4.2
more-ds==0.0.4
more-itertools==8.8.0
msal==1.14.0
msal-extensions==0.3.0
msgpack==1.0.2
msrest==0.6.21
msrestazure==0.6.4
mypy-extensions==0.4.3
mysql-connector-python==8.0.26
mysqlclient==2.0.3
natsort==7.1.1
ndjson==0.3.1
netaddr==0.8.0
netifaces==0.10.9
nox==2020.12.31
numpy==1.20.3
oauthlib==3.1.1
openapi-schema-validator==0.1.5
openapi-spec-validator==0.3.1
openpyxl==3.0.7
ordered-set==4.0.2
os-service-types==1.7.0
oslo.config==8.4.0
oslo.i18n==5.0.1
oslo.serialization==4.1.0
oslo.utils==4.8.0
packaging==21.0
pandas==1.3.3
pandas-gbq==0.14.1
paramiko==2.7.2
partd==1.2.0
pbr==5.5.1
pendulum==2.1.2
pg-grant==0.3.2
platformdirs==2.3.0
pluggy==1.0.0
ply==3.11
portalocker==1.7.1
prison==0.2.1
prometheus-client==0.8.0
proto-plus==1.18.1
protobuf==3.18.0
psutil==5.8.0
psycopg2==2.8.6
psycopg2-binary==2.9.1
py==1.10.0
pyarrow==4.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pycparser==2.20
pydata-google-auth==1.2.0
pydocstyle==6.1.1
pyflakes==2.3.1
Pygments==2.10.0
PyJWT==1.7.1
PyNaCl==1.4.0
pyodbc==4.0.32
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyrsistent==0.18.0
pysftp==0.2.9
pyshp==2.1.0
pytest==6.2.5
pytest-docker-tools==3.1.0
pytest-env==0.6.2
pytest-helpers-namespace==2021.4.29
pytest-mock==3.6.1
python-daemon==2.3.0
python-dateutil==2.8.2
python-dotenv==0.15.0
python-editor==1.0.4
python-http-client==3.3.2
python-keystoneclient==4.0.0
python-ldap==3.3.1
python-nvd3==0.15.0
python-slugify==4.0.1
python-string-utils==1.0.0
python-swiftclient==3.9.0
python3-openid==3.2.0
pytz==2021.1
pytzdata==2020.1
PyYAML==5.4.1
redis==3.5.3
regex==2020.11.13
requests==2.26.0
requests-oauthlib==1.3.0
rfc3986==1.5.0
rich==10.9.0
rsa==4.7.2
s3transfer==0.4.2
sendgrid==6.8.1
sentry-sdk==0.20.3
setproctitle==1.2.2
Shapely==1.7.1
simple-singleton==1.1
simplejson==3.17.3
singledispatch==3.6.1
six==1.16.0
slack-sdk==3.11.0
smmap==4.0.0
sniffio==1.2.0
snowballstemmer==2.1.0
sortedcontainers==2.4.0
SQLAlchemy==1.3.24
SQLAlchemy-JSONField==1.0.0
SQLAlchemy-Utils==0.37.8
sshtunnel==0.1.5
starkbank-ecdsa==1.1.1
statsd==3.3.0
stevedore==3.3.0
supervisor==4.1.0
swagger-ui-bundle==0.0.9
tabulate==0.8.9
tabview==1.4.4
tblib==1.7.0
tenacity==6.2.0
termcolor==1.1.0
text-unidecode==1.3
toml==0.10.2
toolz==0.11.1
tornado==6.1
typing-extensions==3.7.4.3
typing-inspect==0.7.1
unicodecsv==0.14.1
uritemplate==3.0.1
urllib3==1.26.6
validator-collection==1.4.1
vine==1.3.0
virtualenv==20.7.2
watchtower==1.0.6
websocket-client==1.2.1
Werkzeug==1.0.1
wirerope==0.4.2
wrapt==1.12.1
WTForms==2.3.3
xlrd==1.2.0
yamlip==0.0.2
zict==2.0.0
zope.event==4.5.0
zope.interface==5.4.0